@forward 'uswds-theme';
@forward 'uswds';

@use 'uswds-core' as *;

@forward 'dashboard';

body {
  box-sizing: border-box;
}

#pagebody {
  &:focus {
    outline: 0;
  }
}

// MDX prose styles
.prose {
  *:not(h1, h2, h3, h4, h5){
    line-height: 1.5rem;
  }
  h1, h2, h3, h4, h5 {
    line-height: 1;
  }
}
